* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #f7f7f7;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: $s-font;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

button {
  background: $orange;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-size: $l-font;
  margin: $l-size auto;
  padding: $m-size;
  text-transform: uppercase;
  &:hover {
    background: darken($orange, 10%);
  }
}

button:disabled {
  cursor: default;
}

// custom placeholders
input::placeholder, textarea::placeholder, select:required:invalid {
  color: $grey;
}

option {
  color: black;
}

.placeholder {
  color: $grey;
}

// custom radio buttons
input[type="radio"] {
  display: none;
}

input[type="radio"] + .new-radio {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: $blue-weird;
}

input[type="radio"] + .new-radio:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid $blue-weird;
  border-radius: 100%;
  background: #fff;
}

input[type="radio"] + .new-radio:after {
  content: '';
  width: 12px;
  height: 12px;
  background: $blue-weird;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

input[type="radio"]:not(:checked) + .new-radio:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

input[type="radio"]:checked + .new-radio:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
