// Colors
$blue-light: #355990;
$blue-dark: #1e3b68;
$blue-weird: #8ca2c2;
$grey: #d8d8da;
$orange: #ff8e1d;

// Font-size
$s-font: 1.4rem;
$m-font: 1.6rem;
$l-font: 2rem;
$xl-font: 4rem;

//Spacing
$xs-size: .5rem;
$s-size: 1rem;
$m-size: 2rem;
$l-size: 3rem;
$xl-size: 4rem;
